@import "normalize";
@import "mixin";

/*global*/
.titleDot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 6px;
}

.classify00 { background-color: #494949;}
.classify01 { background-color: #D9697C;}
.classify02 { background-color: #F78934;}
.classify03 { background-color: #FDD432;}
.classify04 { background-color: #b4dc13;}
.classify05 { background-color: #6DD1D1;}
.classify06 { background-color: #1FA6DE;}
.classify07 { background-color: #8299C6;}
.classify08 { background-color: #7269A3;}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

.resourcePage {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #FEFEFE;

    .sideMenu {
        float: left;
        width: 210px;
        padding: 20px 30px;
        position: fixed;

        .menuList {
            padding-left: 0px;
            font-size: 16px;

            .menuItem {

                .titleDot {
                    margin-right: 10px;
                }

                a {
                    padding: 10px 10px 10px 4px;
                    display: block;
                    color: #6d6d6d;

                    .total {
                        float: right;
                        color: #C5C5C5;
                    }

                    &:hover, &.here {
                        color: #f99000;
                    }
                }
            }
        }
    }

    .mainResource {
        float: right;
        width: calc(100% - 320px);
        padding: 25px;
        margin-top: -30px;
        background-color: #EFEFEF;

        .allItem {
            width: 100%;
            margin: 0 auto;

            .group {
                width: 100%;

                h2 {
                    color: #777777;
                    margin: 50px 0 30px 15px;
                }

                .tagGroup {

                    .tagg {
                        color: #adadad;
                        margin: 10px 0 10px 15px;
                        font-size: 16px;

                        .tagIcon {
                            background: url(../images/tag.png) no-repeat 0 0;
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background-size: 100%;
                            vertical-align: middle;
                            margin: 0 8px 0 3px;
                        }
                    }

                    .eachItem {
                        float: left;
                        width: calc(33.33% - 30px);
                        height: 134px;
                        margin: 0 15px 25px;
                        overflow: hidden;
                        background-color: #FFFFFF;
                        box-shadow: rgba(193,193,193,0.2) 0px 2px 6px 3px;

                        .logo {
                            float: left;
                            width: 90px;
                            height: 134px;
                            text-align: center;

                            img {
                                width: 64px;
                                height: 64px;
                                margin: 35px auto;
                            }
                        }

                        .detailWrap {
                            float: right;
                            padding: 15px;
                            width: calc(100% - 120px);
                            height: calc(134px - 30px);
                            background-color: #F6F6F6;

                            .resourceTitle {
                                margin: 5px 0;
                                font-size: 15px;
                                line-height: 15px;
                                color: #6d6d6d;
                            }

                            .description {
                                font-size: 12px;
                                line-height: 16px;
                                color: #a5a5a5;
                            }
                        }

                        &:hover {
                           box-shadow: rgba(0, 0, 0, 0.0901961) 0px 30px 20px -20px, rgba(0, 0, 0, 0.0901961) 0px 0px 3px; 

                           .detailWrap {
                            background-color: #fefefe;
                           }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1280px) {
    /// 如果使用者之視窗寬度介於 1025px ~ 1280px，將會再載入這裡的 CSS。
    .resourcePage {
        max-width: 100%;

        .sideMenu {
            padding: 20px;
        }

        .mainResource {
            width: calc(100% - 300px);

            .allItem {
                .group {
                    .tagGroup {
                        .eachItem {
                            width: calc(50% - 30px);
                            height: 120px;

                            .logo {
                                height: 120px;

                                img {
                                    margin: 28px auto;
                                }
                            }

                            .detailWrap {
                                height: calc(120px - 20px);
                            }
                        }
                    }
                }
            }
        }
    }  
}

@media screen and (max-width: 1024px) {
    // 如果使用者之視窗寬度介於 768px ~ 1024px，將會再載入這裡的 CSS。
    .resourcePage {
        .mainResource {
            .allItem {
                .group {
                    .tagGroup {
                        .eachItem {
                            width: calc(100% - 30px);

                            .logo {
                                width: 120px;

                                img {
                                    margin: 28px auto;
                                }
                            }

                            .detailWrap {
                                width: calc(100% - 150px);
                            }
                        }
                    }
                }
            }
        }
    }  

}

@media screen and (max-width: 767px) {
    // 如果使用者之視窗寬度介於 481px ~ 767px，將會再載入這裡的 CSS。
    .resourcePage {
        .sideMenu {
            display: none;
        }

        .mainResource {
            width: calc(100% - 50px);
        }
    } 
}

@media screen and (max-width: 480px) {
    // 如果使用者之視窗寬度介於 321px ~ 480px，將會再載入這裡的 CSS。
    .resourcePage {

        .mainResource {
            width: calc(100% - 30px);
            padding: 25px 15px;

            .allItem {
                .group {
                    .tagGroup {
                        .eachItem {
                            width: calc(100% - 20px);
                            margin: 0 10px 25px;

                            .detailWrap {
                                height: calc(120px - 30px);
                            }
                        }
                    }
                }
            }
        }
    }  
}